/* 
position:sticky - toggles between relative and fixed , once the predefined postion is met in the viewport - then it sticks

one of the values top, left , right , bottom


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbar-height: 10rem;
}

div {
    background: yellow;
    border: 3px solid red;
    /* margin-top: 50px; */
    /* position: relative; */
}

.one {
    background: blue;
    color: white;
}

.two {
    background: green;
    color: white;
}

.special {
    background: red;
    color: white;
    font-size: 20px;
}

.container {
    background: blue;
    min-height: 300vh;
}

.nav {
    background: red;
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    width: 100%;
    /* height: var(--navbar-height); */
    position: sticky;
    top: 100px;
    /* top: -15px; */
    /* left: 0; */
    z-index: 9999;

    margin-bottom: 2rem;

}

.header {
    /* position: absolute; */
    /* margin-top: 25px; */
    margin-top: calc(var(--navbar-height))
        /* z-index: 1; */
}