/* 

position:absolute -  relative to the parent with postion: relative



*/

/* position: static  - default , always positioned according to the normal flow */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */

}

div {
    background: yellow;
    border: 3px solid red;
    margin-top: 50px;
    position: relative;
}


.one {
    background: blue;
    color: white;
    position: absolute;
    top: 100px;
    left: 0;

}

.two {
    background: green;
    color: white;
    position: relative;

}

.special {
    background: red;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 45%;
    /* right: 30px; */
}