/* 
position: relative  - position relative to it's normal position.
top , bottom, left, right


*/

/* position: static  - default , always positioned according to the normal flow */

*{
    margin: 0;
    padding:0;
    /* box-sizing: border-box; */

}

div {
    background: yellow;
    border: 3px solid red;
    margin-top: 50px;
}


.one {
    background: blue;
    color: white;
    /* position: static; */
}

.two {
    background: green;
    color: white;
    position: relative;

    /* top: 200px; */
bottom: 0;
/* left: 20%; */

right: 40px;

    /* text-align: right; */
    /* by default css position */

    /* position: static; */

}

.special {
    background: red;
    color: white;
    font-size: 20px;
    /* display: block; */
}